<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Package Builder</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="http://rawgit.com/danialfarid/ng-file-upload/master/dist/ng-file-upload.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("app", ['ngFileUpload']);


        app.controller('formController', ['$scope', '$sce', 'Upload', function($scope, $sce, Upload) {
            $scope.alerts = [];
            

            $scope.resetForm = function(form) {

                angular.copy({}, form);

                $scope.output = "";
                $scope.file = null;

                $scope.form = {};

                $scope.form.commands = {
                    help: [],
                    install: [],
                    uninstall: [],
                    preinstall: [],
                    postinstall: []
                };

                 $scope.form.subs = {
                    help: false,
                    install: false,
                    uninstall: false,
                    preinstall: false,
                    postinstall: false
                }

 
                $scope.form.archs = {
                    OSARCH_x32: false,
                    OSARCH_x64: false
                }

                $scope.form.regs = {
                    clc : false,
                    desktop : false,
                    traveling : false,
                    virtual_clc : false,
                    virtual_desktop : false
                }

                $scope.form.vers = {
                    OSVER_XP_32 : false,
                    OSVER_VISTA_SP0 : false,
                    OSVER_VISTA_SP1 : false,
                    OSVER_VISTA_SP2 : false,
                    OSVER_WIN7_SP0 : false,
                    OSVER_WIN7_SP1 : false,
                    OSVER_WIN8_SP0 : false,
                    OSVER_WIN10_SP0 : false,
                    OSVER_WIN10_SP1 : false
                }

                $scope.form.packName = "";
                $scope.form.softwareVer = "";
                $scope.form.author = "";
                $scope.form.packId = "";
                $scope.form.comments = "";
                $scope.form.mode = '';

            }


            $scope.changeMode = function(m) {
                $scope.form.mode = m;
            }
            $scope.getMode = function(){
                switch ($scope.form.mode){
                    case 'dev':
                    return 'Development';
                    break;
                    case 'prod':
                    return 'Production';
                    break;
                    default:
                    return 'Mode';
                }
            }

            $scope.submit = function() {
                $scope.$watch('file', function() {
                    var file = $scope.file;
                    if (!file) {
                        return;
                    }
                });
                Upload.upload({
                    method: 'POST',
                    url: '/',
                    data: {
                        input: $scope.form
                    },
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function successCallback(response) {

                    $scope.output = response.data.output;
                    $scope.alerts.push(response.data.alert);
                    pret = angular.element(document.querySelector('#output'));
                    pret.html($scope.output);

                });

            };

            $scope.publish = function() {
                $scope.$watch('file', function() {
                    var file = $scope.file;
                    if (!file) {
                        return;
                    }
                });
                Upload.upload({
                    method: 'POST',
                    url: '/publish',
                    data: {
                        input: $scope.form
                    },
                    file: $scope.file,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function successCallback(response) {

                    $scope.output = response.data.output;
                    $scope.alerts.push(response.data.alert);
                    pret = angular.element(document.querySelector('#output'));
                    pret.html($scope.output);

                });
            };

            $scope.resetForm($scope.form);

        }]);

        app.controller('cusSubs', function($scope) {


            $scope.getSelect = function(id) {
                return $('#' + id).find(":selected").text();
            }

            $scope.addCmd = function(sub) {
                $scope.form.commands[sub].push({
                    text: "",
                });

            };
            $scope.delCmd = function(i, sub) {
                $scope.form.commands[sub].splice(i, 1);
            };
        });
    </script>

</head>

<body ng-controller="formController">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Package Builder</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <div ng-repeat="alert in alerts">
                            <li>
                                <div>{{alert.time}} <span class="label label-{{alert.type}}">{{alert.text}}</span></div>
                            </li>     
                        </div>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Home Page</a>
                    </li>
                    <li class="active">
                        <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Build Package</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Build Parameters
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i> <a href="index.html">Home Page</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Build Package
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">

                        <form role="form">
                            
                            <div class="form-group">
                                <label>Package Name</label>
                                <input class="form-control" placeholder="Test Package 1.0" ng-model="form.packName">
                            </div>

                            <div class="form-group">
                                <label>Package Author:</label>
                                <input class="form-control" placeholder="John Smith" ng-model="form.author">
                            </div>

                            <div class="form-group">
                                <label>Package Id</label>
                                <input class="form-control" placeholder="testpackage" ng-model="form.packId">
                            </div>

                            <div class="form-group">
                                <label>Software Version</label>
                                <input class="form-control" placeholder="1.0" ng-model="form.softwareVer">


                                <div class="form-group">
                                    <label>Comments</label>
                                    <textarea class="form-control" rows="3" ng-model="form.comments"></textarea>
                                </div>
                                <div class="form-group">
                                    <button id="dataFiles" class="btn btn-default" ngf-select ngf-multiple="true" ng-model="file">Data Files</button>
                                </div>
                                <div class="form-group">
                                    <div ng-repeat="item in file">
                                        {{item.name}}
                                    </div>
                                </div>
                                <div class="dropdown form-group" sytle="margin: 5px">
                                    <button class="btn btn-default" type="button" data-toggle="dropdown">{{getMode()}}
                              <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="changeMode('dev')"><a href="#">Development</a></li>
                                        <li ng-click="changeMode('prod')"><a href="#">Production</a></li>
                                    </ul>
                                </div>

                                <div ng-controller="cusSubs" class="form-group">
                                    <label>Custom Subs</label>
                                    <div class="checkbox sub">
                                        <label>
                                        <input type="checkbox" ng-model="form.subs.help"><b>Help</b>
                                    </label>
                                        <button class="btn btn-xs btn-default" ng-click="addCmd('help')">Add Command</button>

                                        <div ng-repeat="item in form.commands.help">
                                            <div style="font-weight:bold">Command: {{$index+1}}</div>
                                            <input style="margin: 5px" class="form-control ng-pristine ng-valid" ng-model="form.commands.help[$index].text" type="text"><button class="btn btn-xs btn-default" ng-click="delCmd($index,'help')">Delete</button>
                                        </div>

                                    </div>
                                    <div class="checkbox sub">
                                        <label>
                                        <input type="checkbox" ng-model="form.subs.install"  ><b>Install</b>
                                    </label>
                                        <button class="btn btn-xs btn-default" ng-click="addCmd('install')">Add Command</button>

                                        <div ng-repeat="item in form.commands.install">
                                            <div style="font-weight:bold">Command: {{$index+1}}</div>
                                            <input style="margin: 5px" class="form-control ng-pristine ng-valid" ng-model="form.commands.install[$index].text" type="text"><button class="btn btn-xs btn-default" ng-click="delCmd($index,'install')">Delete</button>
                                        </div>

                                    </div>
                                    <div class="checkbox sub">
                                        <label>
                                        <input type="checkbox" ng-model="form.subs.uninstall"  ><b>Uninstall</b>
                                    </label>
                                        <button class="btn btn-xs btn-default" ng-click="addCmd('uninstall')">Add Command</button>

                                        <div ng-repeat="item in form.commands.uninstall">
                                            <input style="margin: 5px" class="form-control ng-pristine ng-valid" ng-model="form.commands.uninstall[$index].text" type="text"><button class="btn btn-xs btn-default" ng-click="delCmd($index,'uninstall')">Delete</button>
                                        </div>

                                    </div>
                                    <div class="checkbox sub">
                                        <label>
                                        <input type="checkbox" ng-model="form.subs.preinstall"  ><b>Preinstall</b>
                                    </label>
                                        <button class="btn btn-xs btn-default" ng-click="addCmd('preinstall')">Add Command</button>

                                        <div ng-repeat="item in form.commands.preinstall">
                                            <div style="font-weight:bold">Command: {{$index+1}}</div>
                                            <input style="margin: 5px" class="form-control ng-pristine ng-valid" ng-model="form.commands.preinstall[$index].text" type="text"><button class="btn btn-xs btn-default" ng-click="delCmd($index,'preinstall')">Delete</button>
                                        </div>
                                    </div>
                                    <div class="checkbox sub">
                                        <label>
                                        <input  type="checkbox" ng-model="form.subs.postinstall"  ><b>Postinstall</b>
                                    </label>
                                        <button class="btn btn-xs btn-default" ng-click="addCmd('postinstall')">Add Command</button>
                                        <div ng-repeat="item in form.commands.postinstall">
                                            <div style="font-weight:bold">Command: {{$index+1}}</div>
                                            <input style="margin: 5px" class="form-control ng-pristine ng-valid" ng-model="form.commands.postinstall[$index].text" type="text"><button class="btn btn-xs btn-default" ng-click="delCmd($index,'postinstall')">Delete</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Allowed Architecture</label>
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="form.archs.OSARCH_x32">32-Bit
                                </label>
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="form.archs.OSARCH_x64">64-Bit
                                </label>
                                </div>

                                <div class="form-group">
                                    <label>Allowed Regs</label>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.regs.clc">CLC
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.regs.desktop">Desktop
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.regs.traveling">Traveling
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.regs.virtual_clc">Virtual CLC
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.regs.virtual_desktop">Virtual Desktop
                                    </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Allowed Versions</label>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_XP_32">Windows XP 32
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_VISTA_SP0">Windows Vista SP0
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_VISTA_SP1">Windows Vista SP1
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_VISTA_SP2">Windows Vista SP2
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_WIN7_SP0">Windows 7 SP0
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_WIN7_SP1">Windows 7 SP1
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_WIN8_SP0">Windows 8
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_WIN10_SP0">Windows 10 SP0
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="form.vers.OSVER_WIN10_SP1">Windows 10 SP1
                                    </label>
                                    </div>
                                </div>

                                <div style="margin-bottom:15px">
                                    <button type="submit" class="btn btn-default btn-lg" ng-click="submit()">Submit</button>
                                    <button type="reset" class="btn btn-default btn-lg" ng-click="resetForm(form)">Reset</button>
                                    <button ng-click="publish()" class="btn btn-default btn-lg">Publish</button>
                                </div>

                                <div class="form-group">
                                    <label>Package Template</label>
                                    <p class="form-control-static">
                                        <textarea style="width:100%;height:1200px" id="output" class="prettyprint">
                                    </textarea>
                                    </p>
                                </div>

                        </form>

                        </div>

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

</body>

</html>